@use '../../assets/css/variables.scss' as v;

.registrationForm {
    margin-top: 0 !important;
    width: 100%;

    div:first-child{
        margin-top: 0 !important;
    }
}

.privacyPolicy {
    display: flex;
    font-size: 12px;
    flex-direction: row;
    margin: 0;
    margin-top: 12px;
    font-family: v.$YsabeauInfant;
    color: v.$color-dark-green;
    align-items: start;
    height: 56px;
    padding-right: 2%;

    span {
        align-items: flex-start;
    }

    div {
        margin-top: 0;
    }
}

.passwordError {
    color:red;
    display: flex;
    margin-top: 5px;
}