@use '../../assets/css/variables.scss' as v;

.mainSection {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 876px;

    @media only screen and (max-width: 390px) {
        height: 474px;
    }
}



