@use '../../../assets/css/variables.scss' as v;

.formGroup, .formGroupError {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: v.$YsabeauInfant;

    input {
        padding: 10px;
        height: 24px;
        width: auto;
        border: none;
        border-radius: 8px;
        border: 1px solid v.$color-gray;
        margin-top: 10px;
    }
    label {
        color: v.$color-dark-green;
        font-weight: bold;
        font-size: 18px;
    }
};

.formGroupError > input {
    border: 1px solid red;
}

.formGroupCheckbox {
    display: flex;
    font-family: v.$YsabeauInfant;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 12px;
    
    input[type="checkbox"] {
        accent-color: v.$color-dark-green;
        margin-left: 0;
        width: 14px;
        height: 14px;
    }
    label {
        color: v.$color-dark-green;
        font-size: 16px;
    }
};